<!DOCTYPE html>
<head>
{% block title -%} 
    <title>{{title}}</title>
{% endblock %}
</head>
<body>
    <header>
        {% block header -%} 
        <div style="color: #030303">{{title}}</div>
        {% endblock %}
    </header>
    <div>
        {% block content -%} 
        <div style="color: #0400fc">{{title}}</div>
        {% endblock %}
    <div>
    <footer>
        {% block footer -%} 
        <div style="color: #4af706">{{title}}</div>
        {% endblock %}
    </footer>
</body>
</html>



 <!--   <h1>{{title}}</h1>
    <h2>Welcome to FlaskApp!</h2>
    <ul>
{% for x in mylist %}
<li>{{x}}</li>
{% endfor %}
    </ul> --> 